<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">		
		<title>reranker</title>
		
	</head>
	
	<body>
	<h1>reranker</h1>
		<div class="sidebar">
		{% include "sidebar.html" %}
		</div>

        <div class="main">
            {% for l in links %}
            <div class="link">
            	<div class="link_score">
            	{{ l.score }}<br>
            	<div class="link_social">
            	<a href="http://twitter.com/home?status={{ l.qtitle + '+' + l.url}}" 
            					target="_blank">+t</a> 
            			<a href="http://www.facebook.com/sharer.php?u={{ l.url }}" 
            					target="_blank">+f</a>
            	</div>
            	</div> 
            	<div class="link_data">
            		
            		<div class="link_title">
            		<a href="{{ l.url }}">{{ l.title }}</a><br>
            		{% if DISQUS %}
            		<span class="link_url">Source: {{ l.sourcename }} | <a href="{{ MAINURL }}{{ l.singlepage }}#disqus_thread" data-disqus-identifier="{{ l.d_ident }}">Be the first to comment</a></span>
            		{% else %}
            		<span class="link_url">Source: {{ l.sourcename }}</span>
					{% endif %}	
					</div>
					
            	</div>
            </div>
            {% endfor %}
            
        </div>
        
        {% if DISQUS %}
        <!-- DISQUS COMMENT COUNT CODE -->
        <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ DISQUS }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
        {% endif %}
	</body>
</html>
